click==8.1.7
colorama==0.4.6
itsdangerous==2.2.0
jax==0.4.31
jaxlib==0.4.31
Jinja2==3.1.4
mediapipe==0.10.14
ml-dtypes==0.4.0
numpy==2.1.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
pillow==10.4.0
protobuf==4.25.4
pyautogui
pyparsing==3.1.2
scipy==1.14.1
six==1.16.0
sounddevice==0.5.0
Werkzeug==3.0.4